<div class="alert alert-block alert-info">
    <b><p style="font-size: XX-large">Instruction</p></b> </div>

        

* **For submission, choose ONLY one of the following methods that you are comfortable with:**
    > 1. submit a single (.ipynb) file with all the answers. Be sure to name each problem clearly so that we know which question you are answering.
    
    > 2. put the 5 py files (one for each question) into a folder and zip it, and upload the zip file to Gradescope. Just remember to name each py file clearly so we know which question you are answering.


*  You are welcome to discuss these problems with other students in class, but you must write up the solution yourself, and indicate who you discussed it with (if any).

## Problem 1: Combine Dataframes

1. (2 pt) Create the following two dataframes and display the dataframes.
<img src="Files/fig1.png" width="100"> <img src="Files/fig2.png" width="100">
2. (6 pt) Merge two dataframe in question 1 based on the common column "Id". Display the resulting dataframe. (use the default value of argument `how`)
3. (6 pt)  **Outer** merge two dataframe in question 1 on **index**. Display the new dataframe.
4. (6 pt) Create the following dataframe, df4, and display this dataframe. Fill null values in the resulting dataframe in question 3 with non-null values from df4. Display the resulting dataframe.(Hint: [.combine_first()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.combine_first.html#pandas.DataFrame.combine_first))
<img src="Files/fig3.png" width="200">

In [3]:
data1 = {'Id': [1,2,3,4], 
         'Value1':['A','B','C','D']}

data2 = {'Id': [1,3,5], 
         'Value2':['E','F','G']}

data4 = {'Id_x':[0,1,2,3,4],
        'Value1':['A','B','C','D','E'],
        'Id_y':[0,1,2,3,4],
        'Value2':['A','B','C','D','E']}

# Specify the index when you create the dataframes.

---------------------------

## Problem 2: Combine three Dataframes

1. Create the following dataframes and use these dataframes to solve the next two questions.
<img src="Files/fig4.png" width="500">

2. (10 pt) Can we concatenate three DataFrames into one Dataframe using the `pd.concat` function **in one step** ? Try to display the concatenated dataframe. (Hint: using the `pd.concat` function with default arguments. Don't provide any additional arguments to `pd.concat'.)
3. (10 pt) Firstly merge df1 and df2 on mutilple keys('ID1','ID2') and then merges the result with df3 on different key columns ('ID2','ID3').\
(Hint: using two `pd.merge`. In the first `pd.merge`,you need to specify the keys using `on`. In the second `pd.merge` function, you need to explicitly specify the key columns using `left_on` and `right_on`.)

In [5]:

# Create df1
data1 = {'ID1': [1, 2, 3],
         'ID2': [101, 102, 103],
         'Value1': ['A', 'B', 'C']}


# Create df2
data2 = {'ID1': [2, 3, 4],
         'ID2': [102, 103, 104],
         'Value2': ['X', 'Y', 'Z']}

# Create df3
data3 = {'ID3': [101, 102, 103],
         'Value3': ['Apple', 'Banana', 'Cherry']}

------------------

## Problem 3 CSV-Part I Simple Groupby

1. (4 pt) Read from the attached planets.csv and print out the head of this dataframe using `.head()`. Use hash symbol, #, and **briefly** explain the data set and the meaning of each column.\
**Each question in the following should have no more than 2 lines of code.**
2. (4 pt) Drop rows with missing values(`inplace =False`) and then use `.describe()` to show a summary of the data statistics.
3. (4 pt) Display the median of orbital period for each method.
4. (4 pt) Display the average number of planets discovered per year.\
**Each question in the following should have no more than 4 lines of code.**
5. (4 pt) Add a new column called 'decade' and it indicates the decade in which the planet was discovered. Find the proper value of decade for each row. Display the total number of planets discovered **in each decade** since 1900.\
(Hint: Using operations on existing columns to add a new column. Then use a boolean mask to select data in which the planet was discovered greater than or equal to 1980. Then use a groupby function.)

------------------------------------

## Problem 4 CSV-Part II Groupby with agg., transform, filter and idxmax.

Using the same csv file (planets.csv) in problem 3 to solve the following questions:\
**Each question in the following should have no more than 4 lines of code.**
1. (5 pt) Display all methods that had more than 900 planets being discovered.
2. (5 pt) Display the maximum and minimum orbital period for planets discovered by each method. (Hint: groupby and aggregate)
3. (5 pt) Create a new column called "numbers_each_years" and this indicates the cumulative number of planets discovered each year. Display the first 10 lines of the new dataframe. \
(Hint: using groupby and transform)
4. (5 pt) Display the maximum orbital period for planets discovered by each method. Which method has the longest orbital periods?

-------------------------

## Problem 5 Dataframe Plot

Using the same csv file (planets.csv) in problem 3 to solve the following questions:(Hint: [pd.Series.plot](https://pandas.pydata.org/docs/reference/api/pandas.Series.plot.html#pandas-series-plot))\
- plot requirements: 
- 1. should have one title 
- 2. should have xlabel and ylabel 
- 3. should have figsize 
- 4. should have grid line
- 5. should have legend
1. (10 pt) Display the total number of planets discovered in each year. Create a line plot of the number of planets discovered in each year. 

2. (10pt) Display the total number of planets discovered by each method. Create a bar plot of the number of planets discovered in each year.

# DONE